textarea {
    resize: none;
    overflow: scroll;
    width: 500px;
    height: 500px;
}

svg {
    border: solid 1px black;
}

.flex_horizontal{
    display: flex;
}

.focused {
    stroke: black;
    stroke-width: 2px;
}

graph {
    color: white;
}

#cdg_area {
    padding: 30px;
    font-size: 15px;
}

.selected_guide{
    color: brown;
}
.selected_meta{
    color: green;
}
.selected_marks{
    color: blue;
}
.selected_axes{
    color: orange;
}
.selected_insights{
    color: purple;
}
.current_pointer{
    font-weight: bold;
}

#help{
    width: 30%;
    border: 1px solid black;
    margin: 20px;
    padding: 15px;
}